<div class="isolate bg-white mb-48">
    <main>
        <div class="relative px-6 lg:px-8 justify-center">
            <h1 class="text-2xl text-center">
                Términos y condiciones
            </h1>
            
            <p>
                Terms of service are the legal agreements between a service provider and a person who wants to use that service. The person must agree to abide by the terms of service in order to use the offered service. Terms of service can also be merely a disclaimer, especially regarding the use of websites
            </p>
        </div>
    </main>
</div>
  