<!-- List of ingredients: -->
<div 
    [ngClass]="{ 'hidden': !showTable, 'visible': showTable}"
    class="relative overflow-x-auto shadow-md sm:rounded-lg mt-10"
>
    <div class="flex justify-end">
        <button 
            type="button"
            (click)="showTableFunc()"
            class="font-medium text-red-600 dark:text-red-500 hover:underline"
        >
            Ocultar
        </button>
    </div>

    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Ingredientes
                </th>
                <th scope="col" class="px-6 py-3">
                    Gramos
                </th>
                <th scope="col" class="px-6 py-3">
                    Precio
                </th>
                <th scope="col" class="px-6 py-3">
                    Acción
                </th>
            </tr>
        </thead>
        <tbody *ngFor="let ingredient of listIngredients">
            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ingredient.ingredientType}}
                </th>
                <td class="px-6 py-4">
                    {{ingredient.ingredientGrams}} gr
                </td>
                <td class="px-6 py-4">
                    ${{ingredient.ingredientPrice}}.00 MXN
                </td>
                <td class="px-6 py-4">
                    <button 
                        type="button"
                        (click)="getIngredient(ingredient.id!)" 
                        class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                    >
                        Editar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>