<div class="mt-10"></div>

<div class="grid sm:px-10 lg:grid-cols-2 lg:px-20 xl:px-32 mb-10">
    <div class="px-4 pt-8">
      <p class="text-xl font-medium">
        Resumen de compra
      </p>
      <p class="text-gray-400">
        Revisa tus alimentos. Y selecciona el método de pago.
      </p>
      <div class="mt-8 space-y-3 rounded-lg border bg-white px-2 py-4 sm:px-6">
        <div class="flex flex-col rounded-lg bg-white sm:flex-row">
          <img class="m-2 h-24 w-28 rounded-md border object-cover object-center" src="" alt="" />
          <div class="flex w-full flex-col px-4 py-4">
            <span class="font-semibold">
              Ensalada normal
            </span>
            <span class="float-right text-gray-400">
              Prueba
            </span>
            <p class="text-lg font-bold">
              $138.99
            </p>
          </div>
        </div>
      </div>
  
      <p class="mt-8 text-lg font-medium">
        Método de pago
      </p>
      <form class="mt-5 grid gap-6">
        <div class="relative">
          <input class="peer hidden" id="radio_1" type="radio" name="radio" checked (click)="cash(false)" />
          <span class="peer-checked:border-gray-700 absolute right-4 top-1/2 box-content block h-3 w-3 -translate-y-1/2 rounded-full border-8 border-gray-300 bg-white"></span>
          <label class="peer-checked:border-2 peer-checked:border-gray-700 peer-checked:bg-gray-50 flex cursor-pointer select-none rounded-lg border border-gray-300 p-4" for="radio_1">
            <img class="w-14 object-contain" src="/images/naorrAeygcJzX0SyNI4Y0.png" alt="" />
            <div class="ml-5">
              <span class="mt-2 font-semibold">Efectivo</span>
              <p class="text-slate-500 text-sm leading-6">Entrega: 1 Dia</p>
            </div>
          </label>
        </div>
        <div class="relative">
          <input class="peer hidden" id="radio_2" type="radio" name="radio" checked (click)="cash(true)"/>
          <span class="peer-checked:border-gray-700 absolute right-4 top-1/2 box-content block h-3 w-3 -translate-y-1/2 rounded-full border-8 border-gray-300 bg-white"></span>
          <label class="peer-checked:border-2 peer-checked:border-gray-700 peer-checked:bg-gray-50 flex cursor-pointer select-none rounded-lg border border-gray-300 p-4" for="radio_2">
            <img class="w-14 object-contain" src="/images/oG8xsl3xsOkwkMsrLGKM4.png" alt="" />
            <div class="ml-5">
              <span class="mt-2 font-semibold">Tarjeta Debito/Credito</span>
              <p class="text-slate-500 text-sm leading-6">Entrega: 1 Dia</p>
            </div>
          </label>
        </div>
      </form>
    </div>

    <div [ngClass]="{ 'hidden': !isCash, 'visible': isCash}" class="mt-10 bg-gray-50 px-4 pt-8 lg:mt-0">
      <p class="text-xl font-medium">
        Detalle de pago
      </p>
      <p class="text-gray-400">El repartidor llevará terminal.</p>
      
      <button class="mt-4 mb-8 w-full rounded-md bg-gray-900 px-6 py-3 font-medium text-white">
        Completar Pago
      </button>
    </div>

    <div [ngClass]="{ 'hidden': isCash, 'visible': !isCash}" class="mt-10 bg-gray-50 px-4 pt-8 lg:mt-0">
      <p class="text-xl font-medium">
        Detalle de pago
      </p>
      <p class="text-gray-400">El repartidor llevará hasta $200.00 MXN en cambio.</p>

      <button class="mt-4 mb-8 w-full rounded-md bg-gray-900 px-6 py-3 font-medium text-white">
        Completar Pago
      </button>
    </div>
</div>